{% load static %}
<!DOCTYPE html>
<html lang="en">
	
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoChat</title>
	<link rel="shortcut icon" href="{%static 'Logo/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "css/site.css" %}"/>
    <link rel="stylesheet" href="{% static "css/Shared.css" %}"/>
	<link type="text/css" rel="styleSheet" href="{% static "css/Recent_chat.css" %}" />
	<link rel="stylesheet" href="{% static "css/element-ui/index.css" %}">
	<script src="{% static "js/vue-router.js" %}"></script>
	<script src="{% static "js/vue.js" %}"></script>
	<script src="{% static "css/element-ui/index.js" %}"></script>
	<script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
	<script src="{% static "js/axios-0.26.0/axios.js" %}"></script>
	<!-- <script src="{% static "js/JavaScript.js" %}"></script> -->
    <script>
        $(document).ready(function () {
			$("li").click(function(){
			    $("li").removeClass("active");
			    $(this).addClass("active");
			})
			// getNewMessages();
			// loadEmoji();
			$(function () {
			    $(".Emoji").click(function () {
			        $(".Emoji_panel").show();
			        return false;//关键是这里，阻止冒泡
			    });
			    $(".Emoji_panel").click(function () {
			        return false;
			    });
			    $(document).click(function () {
			        $(".Emoji_panel").hide();
			    });
			})
			//$(document).click(function () {
			//    $(".Emoji_panel").css("display", "none");
			// });
			del_button()
			$("#messagesContext").focus(function () {
			    $(document).keyup(function (e) {
			        if (e.which == 13) {
			            Send()
			        }
			    })
			})
			
        })
        function upload() {

        }
		
		function addTab(title, url){
		    if ($('#tt').tabs('exists', title)){
		        $('#tt').tabs('select', title);
		    } else {
		        var content = '<iframe scrolling="auto" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
		        $('#tt').tabs('add',{
		            title:title,
		            content:content,
		            closable:true
		        });
		    }
		}
		
		function getNewMessages() {
		    $(".context").each(function () {
		        var p = $(this);
		        $.ajax({
		            url: '/Chat/getNewMessages',
		            data: { ID: $(this).siblings().first().attr("name") },
		            type: 'post',
		            dataType: "json",
		            success: function (data) {
		                if (data[0] == undefined) {
		                    p.text("");
		                } else {
		                    p.text(data[0].M_PostMessages);
		                }
		            }, error: function (e) {
		
		            }
		        })
		    });
		}
		
		
		// function loadEmoji() {//生成表情
		//     $(".Emoji_panel").html('');
		//     var html = '';
		//     for (var i = 1; i <= 105; i++) {
		//         //html += '<img class="emoji-img" src="Emoji/' + i + '.png" οnclick="choiceEmoji(' + i + ')" />';
		//         html += '<img class="emoji-img" src="~/static/Emoji/' + i + '.png" 'style="width:30px;margin:3px" onclick="choiceEmoji(' + i + ')"/>';
		//         if ((i % 5) == 0) { }
		//     }
		//     $(".Emoji_panel").html(html);
		// }
		
		function choiceEmoji(index) {//选择表情
		    var msg = $("#messagesContext").val();
		    var emoji = '[em_' + index + ']';
		    msg = msg + emoji;
		    //$(".Emoji_panel").hide();//隐藏表情选择
		    $("#messagesContext").val(msg);//赋值
		    $("#messagesContext").focus();//输入框获取焦点
		    moveEnd($("#messagesContext").get(0)); //移动光标至末尾，且切换selection的位置
		}
		//光标移至文本后面
		function moveEnd(obj) {
		    obj.focus();
		    var len = obj.value.length;
		    if (document.selection) {
		        var sel = obj.createTextRange();
		        sel.moveStart('character', len); //设置开头的位置
		        sel.collapse();
		        sel.select();
		    } else if (typeof obj.selectionStart == 'number' && typeof obj.selectionEnd == 'number') {
		        obj.selectionStart = obj.selectionEnd = len;
		    }
		}
		//字符替换为表情
		function replace_em(str) {
		    str = str.replace(/\</g, '<');
		    str = str.replace(/\>/g, '>');
		    str = str.replace(/\n/g, '<br/>');
		    str = str.replace(/\[em_([0-9]*)\]/g, '<img class="emoji-size" src="/Emoji/$1.png" border="0" style="width:20px"/>');
		    return str;
		}
		
		function del_Recent_chat(ID) {
		    $.ajax({
		        url: '/Chat/Delsession',
		        data: { ID: ID },
		        type: 'post',
		        dataType: "json",
		        success: function (data) {
		            if (data == "1") {
		                setTimeout("getRecent_chat($('.Friendname').attr('id'));", 300);
		                setTimeout("del_button()", 100)
		            } else {
		                alert("数据库异常")
		            }
		        }, error: function (e) {
		
		        }
		    })
		}
		
		function del_button() {
		    $(".messages").mouseenter(function () {
		        $(this).find(".del").css("visibility", "unset");
		    })
		    $(".messages").mouseleave(function () {
		        $(this).find(".del").css("visibility", "hidden");
		    })
		}
		
		function Send() {//发送信息
		    $.ajax({
		        url: "/Chat/Send",
		        type: 'post',
		        dataType: "json",
		        data: {
		            context: $("#messagesContext").val(),
		            Sendto: $(".Friendname").attr("id")
		        },
		        success: function (mags) {
		            if (mags.Status) {
		                $("#messagesContext").val(null)
		                getChatrecord($(".Friendname").attr("id"))
		                scrolltodown()
		                getRecent_chat($(".Friendname").attr("id"))
		                getNewMessages()
		                del_button();
		            } else {
		                alert(mags.Mag);
		            }
		            console.log('发送成功');
		        },
		        error: function () {
		            console.log('发送失败'); // 请求失败时的回调函数
		        }
		    })
		}
    </script>
</head>
<body>
    <div class="Main_panel">
		<div style="width: 100%;height: 250px;min-width: 1400px;background: #4494d5;">
			<div style="width: 250px;height: 100%;float: left;">
				<div style="margin: 10%;position: relative;">
					<img class="HeadPortrait" src="{% static "HeadPortrait/" %}{{ user.headportrait|safe}}" width="100%">
				</div>
			</div>
			<div style="width: 500px;height: 100%;float: left;">
				<div style="margin: 5% 0;">
					<table>
						<tr >
							<td style="padding-top: 5%;"><input class="UserNameinput" v-model="UserName" @change="EditUserName"></td>
						</tr>
						<tr >
							<td style="padding-bottom: 5%;"><span style="color: white;font-size: 25px;">ID {{user.id}}</span></td>
						</tr>
						<tr>
							<td><el-input type="text" placeholder="请输入内容" v-model="SignText" @change="EditSign" maxlength="20" style="width: 500px;" clearable show-word-limit></el-input></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
<!--       <div class="personal_information">
            <div id="HeadPortrait">
                <input class="uploadHeadPortrait" accept="image/*" value="更换头像" type="file" onchange="upload()" />
                <img class="HeadPortrait" width="70">
            </div>
            <span class="attrname">账号</span><span class="LoginID"></span><br />
            <div>
                <span class="attrname">昵称</span><input class="NickName" value="" />
                <span class="attrname">性别</span>
                <select class="Sex">
                    <option> </option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select><br />
            </div>
            <div>
                <span class="attrname">出生年月</span><input class="Birthday" value="" />
                <span class="attrname">血型</span>
                <select class="BloodType">
                    <option> </option>
                    <option>A型</option>
                    <option>B型</option>
                    <option>AB型</option>
                    <option>O型</option>
                    <option>其他血型</option>
                </select><br />
            </div>
            <div>
                <span class="attrname">生肖</span>
                <select class="ShengXiao">
                    <option> </option>
                    <option>鼠</option>
                    <option>牛</option>
                    <option>虎</option>
                    <option>兔</option>
                    <option>龙</option>
                    <option>蛇</option>
                    <option>马</option>
                    <option>羊</option>
                    <option>猴</option>
                    <option>鸡</option>
                    <option>狗</option>
                    <option>猪</option>
                </select>
                <span class="attrname">年龄</span><input class="Age" value="">
                <span class="attrname">星座</span>
                <select class="Constellation">
                    <option> </option>
                    <option>水瓶座</option>
                    <option>双鱼座</option>
                    <option>白羊座</option>
                    <option>金牛座</option>
                    <option>双子座</option>
                    <option>巨蟹座</option>
                    <option>狮子座</option>
                    <option>处女座</option>
                    <option>天秤座</option>
                    <option>天蝎座</option>
                    <option>射手座</option>
                    <option>摩羯座</option>
                </select>
            </div>
            <span class="attrname">个性签名</span><input class="SignaTure" value="" /><br />
            <span class="attrname">手机号码</span><input class="Telephone" value="" /><br />
            <span class="attrname">邮箱</span><input class="Email" value="" /><br />
            <span class="attrname">毕业学校</span><input class="SchoolTag" value="" /><br />
            <span class="attrname">职业</span>
            <select class="Vocation">
                <option> </option>
                <option>计算机/互联网/通信</option>
                <option>生产工艺制造</option>
                <option>金融银行投资保险</option>
                <option>商业服务业个体经营</option>
                <option>文化广告传媒</option>
                <option>娱乐艺术表演</option>
                <option>律师法务</option>
                <option>教育培训</option>
                <option>公务员行政事业单位</option>
                <option>模特</option>
                <option>空姐</option>
                <option>学生</option>
                <option>其他</option>
            </select><br />
            <div class="Out_Intro"><span class="attrname">个人说明</span><textarea class="Intro"></textarea></div>
            <span class="tip" style="color:red"></span><br />
            <input class="Revise" type="button" value="修改" />
        </div> -->
        <div role="main" class="main" style="width: 100%;height: 650px;display: inline-block;margin-top: 10px;background: white; box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);">
			<el-row style="width: 100%;height: 100%;">
			  <el-col :span="1" style="height: 100%;border-right: 1px solid #ebebeb;">
				  <div class="grid-content bg-purple" style="width: 100%;height: 100%; ">
					  <ul style="list-style: none;">
						<li @click="SwitchKey('message')">
							<a href="#"><el-tooltip class="item" effect="dark" content="消息" placement="left">
								<img v-show="module!='message'" class="fun_icon" src="{% static "icon/信息.png" %}" width="40px"/></el-tooltip>
								<img v-show="module=='message'" class="fun_icon" src="{% static "icon/信息选中.png" %}" width="40px"/></el-tooltip>
							</a></li>
						<li @click="SwitchKey('Zone')">
							<a href="#"><el-tooltip class="item" effect="dark" content="空间" placement="left">
								<img v-show="module!='Zone'" class="fun_icon" src="{% static "icon/个人空间.png" %}" width="40px"/></el-tooltip>
								<img v-show="module=='Zone'" class="fun_icon" src="{% static "icon/个人空间选中.png" %}" width="40px"/></el-tooltip>
							</a></li>
						<li @click="SwitchKey('seting')">
							<a href="#"><el-tooltip class="item" effect="dark" content="设置" placement="left">
								<img v-show="module!='seting'" class="fun_icon" src="{% static "icon/设置.png" %}" width="40px"/></el-tooltip>
								<img v-show="module=='seting'" class="fun_icon" src="{% static "icon/设置选中.png" %}" width="40px"/></el-tooltip>
							</a></li>
						<li>
							<a href="/Logout"><el-tooltip class="item" effect="dark" content="登出" placement="left">
								<img class="fun_icon" src="{% static "icon/登出.png" %}" width="40px"/></el-tooltip>
							</a></li>
					  </ul>
				  </div>
				</el-col>
			  <el-col :span="23" style="height: 100%;">
					<el-row v-show="module=='message'" style="height: 100%;">
					  <el-col :span="5" style="height: 100%;">
						<div class="Chat_panel" style="width: 100%;height: 100%; float: left;user-select: none;">
						        <div class="Chat_list">
						            <div class="search">
										<el-input v-model="search" placeholder="请输入搜索内容"></el-input>
						                <div class="SearchResult" style="position:relative;width:100%;background-color:white;top:24px;"></div>
						            </div>
									<template>
									  <el-tabs v-model="activeName" stretch="stretch"  @tab-click="handleClick">
									    <el-tab-pane  label="消息" name="first">
											<div class="message_list">
											        <div class="messages" onclick='$(".SpreadChat_panel").css("display", "block"); $(".messages").removeClass("active"); $(this).addClass("active"); var name = $(this).find("p").first().text(); var ID = $(this).find("p").first().attr("name"); $(".Friendname").text(name); $(".Friendname").attr("id", ID); getChatrecord(ID); setTimeout("scrolltodown()",50) ' ondblclick='var ID = $(this).find("p").first().attr("name");del_Recent_chat(ID);'>
											<!--            <span class="del" onclick="var ID = $(this).next().next().find('p').first().attr('name');var Friendid=$('.Friendname').attr('id'); del_Recent_chat(ID);">×</span>-->
											            <div id="FriendHeadPortrait" style=""><img class="FriendHeadPortrait" style="width:40px;height:40px" src="" /></div>
											            <div class="messages_context">
											                <p class="messages_form" name="">名字</p><span class="time">时间</span>
											                <p class="context" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;width:150px;"></p>
											            </div>
											        </div>
											    </div>
										</el-tab-pane>
									    <el-tab-pane label="联系人" name="second">
											<div class="friend_list">
												{% for item in friendGroup %}
												    <ul class="frindgroup_ul">
														<div class="group" onclick="$(this).siblings('li').toggle();var icon=$(this).children('i');if(icon.val()==0){icon.val(1);icon.attr('class','el-icon-arrow-down')}else{icon.val(0);icon.attr('class','el-icon-arrow-right')}" style="width: 100%;">
															<i value="0" class="el-icon-arrow-right"></i><span>{{item.groupname}}</span>
														</div>
														{% for item in item.children %}
												    	<li style="height: 70px;display: none;">
															<div class="friend" onclick='$(".SpreadChat_panel").css("display", "block");$(".SpreadNewFriend_panel").css("display", "none"); var name = $(this).find("p").first().text(); var ID = $(this).find("p").first().attr("id"); $(".Friendname").text(name); $(".Friendname").attr("id", ID); getfriendinfo(ID);'>
															        <div id="FriendHeadPortrait" style="">
																		<el-avatar :size="50" src="{% static "HeadPortrait/" %}{{item.headportrait}}"></el-avatar>
																	</div>
															        <div style="float:left">
															            <p class="friends_form" id="">{{item.username}}</p>
																		<p class="friends_sign" id="">{{item.sign}}</p>
															        </div>
															    </div>
														</li>
														{% endfor %}
												    </ul>
												{% endfor %}
										</el-tab-pane>
									  </el-tabs>
									</template>
						        </div>
						</div>
						</el-col>
						<el-col :span="19">
							<el-empty class="empty" description="{{OneWord}}" image="{% static "Logo/GoChat2.png" %}" style=""></el-empty>
						</el-col>
					</el-row>
					
					<el-row v-show="module=='Zone'" style="height: 100%;">
						<el-col :span="24">
							空间
						</el-col>
					</el-row>
					
					<el-row v-show="module=='seting'" style="height: 100%;">
						<el-col :span="24">
							设置
						</el-col>
					</el-row>
					
				  </div>
			  </el-col>
			</el-row>
		</div>
    </div>
	<script>
	new Vue({
		 delimiters:['{[', ']}'],
		el:'.Main_panel',
		data: {
			UserName:'{{user.username}}',
			module:'message',
			SignText: '{{user.sign}}',
			activeName: 'first',
			tabPosition: 'left',
			search:'',
		},
	    methods: {
			handleClick(tab, event) {
	        // console.log(tab, event);
			},
			EditSign(){
				axios.post('/EditSign','NewSign='+this.SignText)
				.then(function(response){
					console.log(response)
				},function(err){
					console.log(err)
				})
			},
			SwitchKey(module){
				this.module=module
			},
			EditUserName(){
				var self=this
				axios.post('/EditUserName','NewUserName='+self.UserName)
				.then(function(response){
					console.log(response)
					if(response.data.status==1){
						self.$message.success("修改成功")
					}else{
						self.$message.error("修改失败")
					}
				},function(err){
					console.log(err)
				})
			}
	    },
	})
	</script>
</body>
</html>