{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登陆</title>
	<link rel="shortcut icon" href="{%static 'Logo/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static "css/Login.css" %}">
	<link rel="stylesheet" href="{% static "css/element-ui/index.css" %}">
	<script src="{% static "js/vue.js" %}"></script>
	<script src="{% static "js/vue-router.js" %}"></script>
	<script src="{% static "css/element-ui/index.js" %}"></script>
    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
	<script src="{% static "js/axios-0.26.0/axios.js" %}"></script>
    <style>
    </style>
<script>
    $(document).ready(function () {
        $(document).keyup(function (e) {
            if (e.which ==13) {
                Login();
            }
        })
        // window.onload = function () {
        //     var url = window.location.href;
        //     if (url.search("=")!=-1) {
        //         var a = url.substring(url.lastIndexOf("=") + 1, url.length);
        //         var isnum = /^\d+$/.test(a);
        //         if (isnum) {
        //             $("#LoginID").val(a)
        //         }
        //     }
            //var a = url.substring(url.lastIndexOf("=") + 1, url.length);
            //if (a != "") {
            //    $("#LoginID").val(a)
            //}
        // }
    })
	function Register() {
            $.ajax({
                url: "Register",
                type: 'get',
                success: function (data) {
                    console.log('请求成功');
                },
                error: function () {
                    console.log('发送请求失败'); // 请求失败时的回调函数
                }
            });
        }
</script>
</head>
<body>
    <div class="Login_panel">
        <h1 class="front">登录</h1>
        <form class="Login_form">
            <table>
                <tr>
                    <td>
                        <input class="username" id="LoginID" v-model="LoginID" name="LoginID" placeholder="账号" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="password" id="PassWord" v-model="PassWord" name="PassWord" placeholder="密码" type="password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tip"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="post"  @click="Login" type="button" value="Login"/>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <a class="switch" onclick="window.location.href ='Register'">还没有账号？快跟我来</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
	<script src="{% static "js/Login_vue.js" %}"></script>
</body>
</html>